<h2 class="page-title">RFQ Items</h2>

<mat-card class="add-item-card mat-elevation-z4">
  <h3>Add Item</h3>


  <div class="form-grid">

    <mat-form-field appearance="outline">
      <mat-label>Select Item</mat-label>
      <mat-select [(ngModel)]="newItem.itemId" (selectionChange)="onItemSelect(newItem.itemId)">
        <mat-option value="">Select</mat-option>
        <mat-option *ngFor="let i of itemList" [value]="i.id">
          {{i.name}} - {{i.itemCode}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Item No</mat-label>
      <input matInput [(ngModel)]="newItem.itemNo">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Item Name</mat-label>
      <input matInput [(ngModel)]="newItem.itemName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="newItem.description">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <input matInput type="number" [(ngModel)]="newItem.quantity" (input)="calculateTotal()">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>UOM</mat-label>
      <mat-select [(ngModel)]="newItem.uom">
        <mat-option value="">Select</mat-option>
        <mat-option value="custom">custom</mat-option>
        <mat-option *ngFor="let i of uom" [value]="i">{{ i }}</mat-option>
      </mat-select>
    </mat-form-field>

    @if(newItem.uom === 'custom'){
        <mat-form-field appearance="outline" >
          <mat-label>Enter Custom UOM</mat-label>
          <input matInput [(ngModel)]="customUom">
        </mat-form-field>
      }

    <mat-form-field appearance="outline">
      <mat-label>Specifications</mat-label>
      <input matInput [(ngModel)]="newItem.specifications">
    </mat-form-field>

  <mat-form-field appearance="outline">
  <mat-label>Per Piece Price</mat-label>
  <input matInput type="number" [(ngModel)]="newItem.perPiecePrice" (input)="calculateTotal()">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Total Estimated Price</mat-label>
  <input matInput type="number" [(ngModel)]="newItem.estimatedPrice" disabled>
</mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Delivery Date</mat-label>
      <input matInput type="date" [(ngModel)]="newItem.requiredDeliveryDate">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Indent Line No</mat-label>
      <input matInput [(ngModel)]="newItem.indentLineNo">
    </mat-form-field>

  </div>

  <button mat-raised-button color="primary" (click)="addItem()">Add Item</button>
</mat-card>




<!-- ==================== SEARCH & PAGE SIZE ==================== -->
<div class="top-row">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search anything..." [(ngModel)]="query.searchAny" (input)="getItems()">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Page Size</mat-label>
    <mat-select [(ngModel)]="query.pageSize" (selectionChange)="getItems()">
      <mat-option *ngFor="let p of [2,5,10,20]" [value]="p">{{p}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="total">Total Items: <b>{{totalItems}}</b></div>
</div>




<!-- ==================== ITEM LIST ==================== -->
<div *ngFor="let i of items" class="item-card mat-elevation-z2">

  <!-- Normal View -->
  <ng-container *ngIf="editModeId!==i.id">

    <div class="row">
      <b>{{i.itemName}}</b> <span>#{{i.itemNo}}</span>
    </div>

    <p>Qty: {{i.quantity}} | Price: ₹{{i.estimatedPrice}}</p>

    <div class="actions">
<button (click)="router.navigate(['/rfq-item', i.id])">View Item</button>
      <button mat-stroked-button color="warn" (click)="deleteItem(i.id)">Delete</button>
    </div>
  </ng-container>



  <!-- Edit Mode -->
  <!-- <ng-container *ngIf="editModeId===i.id">

    <div class="edit-grid">
      <input [(ngModel)]="editItem.itemName">
      <input [(ngModel)]="editItem.quantity" type="number">
      <input [(ngModel)]="editItem.estimatedPrice" type="number">
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="saveEdit()">Save</button>
      <button mat-stroked-button color="warn" (click)="cancelEdit()">Cancel</button>
    </div>

  </ng-container>
</div> -->




<!-- ==================== PAGINATOR ==================== -->
<mat-paginator
  [length]="totalItems"
  [pageSize]="query.pageSize"
  [pageIndex]="query.pageNumber - 1"
  (page)="onPageChange($event)"
  [pageSizeOptions]="[2,5,10,20]"
  showFirstLastButtons>
</mat-paginator>
