<h2>RFQ Items</h2>

<!-- ADD NEW ITEM FORM -->
<div class="box">
  <h3>Add Item</h3>

PageSize  <select [(ngModel)]="query.pageSize" (change)="getItems()">
    <option [ngValue]="2">2</option>
    <option [ngValue]="5">5</option>
    <option [ngValue]="10">10</option>
    <option [ngValue]="20">20</option>
</select>
<p>Total Number of Items : {{totalItems}}</p>
<br/>
  <!-- Dropdown Item -->
  <select [(ngModel)]="newItem.itemId" (change)="onItemSelect(newItem.itemId)">
    <option value="">Select Item</option>
    <option *ngFor="let i of itemList" [value]="i.id">
      {{i.name}} - {{i.itemCode}}
    </option>
  </select>

  <input placeholder="Item No" [(ngModel)]="newItem.itemNo">
  <input placeholder="Item Name" [(ngModel)]="newItem.itemName">
  <input placeholder="Description" [(ngModel)]="newItem.description">
  <input placeholder="Quantity" type="number" [(ngModel)]="newItem.quantity">

  <select [(ngModel)]="newItem.uom">
    <option value="">Select UOM</option>
    <option>custom</option>
    <option *ngFor="let i of uom" [ngValue]="i">{{ i }}</option>
</select>

  <input placeholder="Specifications" [(ngModel)]="newItem.specifications">
  <input placeholder="Price" type="number" [(ngModel)]="newItem.estimatedPrice">
  <input type="date" [(ngModel)]="newItem.requiredDeliveryDate">
  <input placeholder="Indent Line No" [(ngModel)]="newItem.indentLineNo">

  <button (click)="addItem()">Add Item</button>
</div>

<hr>

<!-- ITEM LIST WITH EDIT/DELETE -->

  <input placeholder="Search Anything" [(ngModel)]="query.searchAny" (input)="getItems()">

<div *ngFor="let i of items" class="card">

  <!-- VIEW -->
  <div *ngIf="editModeId!==i.id">
    <p><b>{{i.itemName}}</b> - {{i.itemNo}}</p>
    <p>Qty: {{i.quantity}} | Price: {{i.estimatedPrice}}</p>
    <button (click)="startEdit(i)">Edit</button>
    <button (click)="deleteItem(i.id)">Delete</button>
  </div>

  <!-- EDIT MODE -->
  <div *ngIf="editModeId===i.id">
    <input [(ngModel)]="editItem.itemName">
    <input [(ngModel)]="editItem.quantity" type="number">
    <input [(ngModel)]="editItem.estimatedPrice" type="number">
    <button (click)="saveEdit()">Save</button>
    <button (click)="cancelEdit()">Cancel</button>
  </div>

</div>

<!-- Pagination -->
<button (click)="prev()">Prev</button>
<p>{{query.pageNumber}}</p>
<button (click)="next()">Next</button>
