<h2>All RFQs</h2>

<!-- Filters -->
<div class="filter-box">
  <!-- <input type="text" placeholder="Search Title" [(ngModel)]="query.title"> -->
    <input type="text" placeholder="Search Title" [(ngModel)]="query.SearchAny" (input)="loadRfqs()">
  <select [(ngModel)]="query.status">
    <option value="">All Status</option>
    <option value="draft">Draft</option>
    <option value="published">Published</option>
    <option value="closed">Closed</option>
  </select>

  <!-- <input type="text" placeholder="Factory Code" [(ngModel)]="query.factoryCode"> -->

  <button (click)="loadRfqs()">Search</button>

  <select [(ngModel)]="query.pageSize" (change)="loadRfqs()">
    <option [ngValue]="2">2</option>
    <option [ngValue]="5">5</option>
    <option [ngValue]="10">10</option>
    <option [ngValue]="20">20</option>
  </select>

</div>

<hr>

<!-- List -->
<div *ngIf="rfqs.length==0">No RFQs Found</div>
<div *ngFor="let r of rfqs" class="rfq-card">

  <p><b>{{r.rfqNumber}}</b> - {{r.title}}</p>
  <p>Status: {{r.status}} | Factory: {{r.factoryCode}}</p>
  
  <button (click)="view(r.id)">View</button>
  <button (click)="edit(r.id)">Edit</button>
  <button (click)="delete(r.id)">Delete</button>
</div>

<button (click)="prev()">Prev</button>
<p>{{query.pageNumber}}</p>
<button (click)="next()">Next</button>