.page { padding: 20px; max-width: 600px; margin: auto; }
.title { font-weight: bold; margin-bottom: 20px; text-align:center; }
.card { padding: 20px; }

.form mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button { margin-right: 10px; margin-top:10px; }
